<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>House price Analysis by Omkar</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="bedrooms" placeholder="Bedrooms" required="required" />
        <input type="text" name="bathrooms" placeholder="Bathrooms" required="required" />
		<input type="text" name="sqft_living" placeholder="Sqft Living" required="required" />
        <input type="text" name="sqft_lot" placeholder="Sqft Lot" required="required" />
        <input type="text" name="floors" placeholder="Floors" required="required" />
        <input type="text" name="waterfront" placeholder="Waterfront" required="required" />
        <input type="text" name="view" placeholder="View" required="required" />
        <input type="text" name="condition" placeholder="Condition" required="required" />
        <input type="text" name="grade" placeholder="Grade" required="required" />
        <input type="text" name="sqft_above" placeholder="Sqft Above" required="required" />
        <input type="text" name="sqft_basement" placeholder="Sqft Basement" required="required" />
        <input type="text" name="yr_built" placeholder="Yr Built" required="required" />
        <input type="text" name="yr_renovated" placeholder="Yr Renovated" required="required" />
        <input type="text" name="zipcode" placeholder="Zipcode" required="required" />
        <input type="text" name="lat" placeholder="Lat" required="Lat" />
        <input type="text" name="long" placeholder="Long" required="Long" />
        <input type="text" name="sqft_living15" placeholder="Sqft Living15" required="Long" />
        <input type="text" name="sqft_lot15" placeholder="Sqft Lot15" required="Long" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>